// Place all the styles related to the Checklists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

/* Optional: Makes the sample page fill the window. */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map,
#map3 {
    height: 400px;
    width: 100%;
}

#map2 {
    height: 100%;
    width: 300px;
}

#ncfsub {
    display: none;
}

.spanEdit {
    font-size: 14px;
}

#current {
    padding-top: 25px;
}

#latlng,
#latlng3 {
    width: 225px;
}
