td, th {
  text-align: center;
}
body {
  background-color: lightblue;
}
.navimg {
width: 64px;
}
zzzzznav {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}
#headerbanner {
  position: absolute;
}
#headerbanner h4 {
  margin-top: -55px;
  margin-left: 75px;
}
