td, th {
    text-align: center;
}

body {
    background-color: #c8e6c9;
    min-width: 740px;
}

.collapsible-body {
    background-color: #e8f5e9;
}

#loginCard {
    margin-top: 0;
}

.navimg {
    width: 64px;
}

#headerbanner {
    position: absolute;
}

#headerbanner h4 {
    margin-top: -55px;
    margin-left: 75px;
}

nav {
    background-color: #4caf50;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    height: 64px;
}

footer.page-footer {
    background-color: #4caf50;
}
